{% extends "::layout.html.twig" %}

{% block layout_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <br>
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="offline-block">
        <h2 class="offline-block-heading">{% block offline_title %}{% endblock %}</h2>
        <div class="offline-block-wrap">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{{ asset('vendor/theme/js/jquery.backstretch.min.js') }}"></script>
    <script>
        $.backstretch("{{ asset('vendor/theme/img/login-bg.jpg') }}", {speed: 500});
    </script>
{% endblock %}