{% extends "::base_offline.html.twig" %}

{% block offline_title %}Se Connecter{% endblock %}

{% block body %}
    {{ render(controller('FOSUserBundle:Security:login')) }}
	<hr>
	<div class="registration">
		Vous n'avez pas de compte ?<br/>
		<a href="{{ path('fos_user_registration_register') }}">
			Créer un compte
		</a>
	</div>
{% endblock %}