{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block offline_title %}Inscription terminée{% endblock %}

{% block fos_user_content %}
    <div class="text-center">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p><a href="{{ path('app_panel') }}">Cliquez ici pour accéder au panel.</a></p>
    </div>
{% endblock fos_user_content %}
