{% extends "::base_offline.html.twig" %}
{% block offline_title %}Finaliser mon compte{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="Finaliser l'inscription" />
    </div>
    {{ form_end(form) }}
{% endblock %}