{% extends "AppBundle::panel_layout.html.twig" %}

{% block panel_body %}
	<div class="row">
		<h1>Accueil Administration</h1>
	</div>

	<div class="row">
		<a class="btn btn-primary" href="{{ path('ue_index') }}">Gestion des UEs</a>
		<a class="btn btn-primary" href="{{ path('user_index') }}">Gestion des utilisateurs</a>
	</div>

{% endblock %}