{% extends "AppBundle::panel_layout.html.twig" %}

{% block panel_body %}

	<div class="row">
		<div class="col-md-12">
			<h3>Clé publique</h3>
			<p>{{ user.publicKey }}</p>

			<hr>

			<h3>Clé privée</h3>
			<p>{{ user.privateKey }}</p>

			<hr>

			<h3>Test crypt</h3>
			<p>{{ test }}</p>

			<hr>

			<h3>Test decrypt</h3>
			<p>{{ test2 }}</p>
		</div>
	</div>

{% endblock %}